<?xml version="1.0"?>

<model>
  <name>Metro_Coach</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Sreejith S</name>
    <email>444lhc@gmail.com</email>
  </author>

  <depend>
    <model>
      <uri>model://suv</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    A metro coach
  </description>
</model>
